<%= div_for comment do %>
 
 <p>
   <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br />
   <%= h(comment.body) %>
   <% if current_user.email.to_s == comment.created_by.to_s %>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </p>
<% end %>
