<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<style>
body {
    text-align: center;
    vertical-align: middle;
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-color:lightyellow;
    border-width: 5px;
    font-family: "Arial", Times, serif;
    }
    #comments {
       text-align: center;
    vertical-align: middle;
    background-color: lightred;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}
h2 {
   text-align: center;
    vertical-align: middle;
    background-color:AliceBlue ;
    padding-left: 0px;
    }
</style>
<body>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %></p>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
</body>
</html>